<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Book Index | Klip</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style type="text/css">
      body {
        color: #333;
        font-size: 16px;
        line-height: 1.5em;
        font-family: Palatino, Georgia, serif;
        background-color: #fff;
        margin: 0px;
        padding: 20px;
      }
      a {
        text-decoration: none;
      }
      a, a:link, a:visited {
        color: #084ab7;
      }
      a:hover {
        text-decoration: underline;
      }

      h1 {
        line-height: 1.1em;
        font-weight: bold;
      }

      .byline {
        width: 730px;
      }

      h2 {
        float: left;
        line-height: 1.1em;
        font-size: 1.3em;
        color: #555;
        font-weight: bold;
        font-style: italic;
      }

      h3 {
        float: right;
        font-style: italic;
        font-weight: normal;
        color: #555;
        font-size: 1.1em;
      }

      .clearfix:before,
      .clearfix:after {
        content: " ";
        display: table;
      }

      .clearfix:after {
        clear: both;
      }

      ul {
        margin-top: 2em;
        width: 690px;
        padding-left: 40px;
      }

      ul li {
        margin: 0.2em 0;
      }

      ul li p {
        margin-bottom: .5em;
      }

      ul li footer {
        text-align: right;
        color: #8C8C8C;
        margin-left: 20em;
      }

      li.note p {
        font-style: italic;
      }

      footer {
        font-size: .8em;
      }

      footer span {
        font-style: italic;
      }

      footer a {
        text-decoration: underline;
        color: #8C8C8C;
      }

      footer a, footer a:link, footer a:visited {
        color: #8C8C8C;
      }

      footer a:hover {
        color: #084ab7;
      }

      body > footer {
        font-size: .8em;
        margin-left: 0;
        width: 690px;
        text-align: center;
        padding-left: 40px;
      }
    </style>
  </head>
  <body>
    <h1>Book Index</h1>
    <ul>
      <%= content %>
    </ul>

    <footer>
      <%= count %> books &bull; Generated by <a href="https://github.com/arturoherrero/klip">Klip</a> on <span><%= DateTime.now.strftime('%e %b %Y at %l:%M %P') %></span>
    </footer>
  </body>
</html>
